.categoryGrid {
  display: grid;

  grid-template-columns: repeat(4, minmax(0, 1fr));

  gap: 12px;
}

.fullWidth {
  grid-column: 1 / -1;
}

@media (max-width: 1050px) {
  .categoryGrid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 650px) {
  .categoryGrid {
    grid-template-columns: 1fr;
  }
}
