.wrapper {
  width: 100%;
  padding: 0 40px;
  margin-top: -90px;
  position: relative;
  z-index: 20;
}

.card {
  max-width: 1450px;
  margin: 0 auto;

  padding: 28px;

  border-radius: 32px;

  background: rgba(255, 255, 255, 0.96);

  backdrop-filter: blur(25px);

  box-shadow: 0 30px 80px rgba(0, 0, 0, 0.15);
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(40px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

/* переключатель */

/* ==========================
   SEARCH MODE SWITCH
========================== */

.searchMode {
  position: relative;

  width: 420px;
  height: 52px;

  margin: 0 auto 30px;

  padding: 5px;

  display: grid;

  grid-template-columns: 1fr 1fr;

  background: #f3f3f5;

  border-radius: 18px;

  border: 1px solid #e8e8e8;

  overflow: hidden;

  box-shadow:
    inset 0 2px 8px rgba(0, 0, 0, 0.04),
    0 15px 40px rgba(0, 0, 0, 0.06);
}

.modeSlider {
  position: absolute;

  top: 5px;

  left: 5px;

  width: calc(50% - 5px);

  height: calc(100% - 10px);

  border-radius: 14px;

  background: linear-gradient(135deg, #ff2990, #ff0066);

  transition: transform 0.45s cubic-bezier(0.4, 0, 0.2, 1);

  box-shadow: 0 10px 25px rgba(255, 0, 120, 0.25);
}

.modeSlider.smartMode {
  transform: translateX(100%);
}

.searchMode button {
  position: relative;

  z-index: 2;

  border: none;

  background: transparent;

  cursor: pointer;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 8px;

  font-size: 15px;

  font-weight: 700;

  color: #777;

  transition: 0.3s;
}

.searchMode button svg {
  width: 18px;

  height: 18px;
}

.modeActive {
  color: white !important;
}

.searchMode button:hover svg {
  transform: scale(1.15);
}

.searchMode button svg {
  transition: 0.3s;
}
.active {
  color: white !important;

  background: linear-gradient(135deg, #ff5aa8, #ff0066) !important;

  box-shadow: 0 15px 35px rgba(255, 0, 120, 0.35);
}

/* купить снять */

.dealSwitcher {
  position: relative;

  height: 52px;

  padding: 4px;

  margin: 20px 0;

  border-radius: 18px;

  display: grid;
  grid-template-columns: 1fr 1fr;

  background: #f6f6f6;

  border: 1px solid #e8e8e8;

  overflow: hidden;

  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}

.dealSlider {
  position: absolute;

  top: 5px;
  left: 5px;

  width: calc(50% - 5px);

  height: calc(100% - 10px);

  border-radius: 16px;

  background: linear-gradient(135deg, #ff5aa8, #ff0066);

  box-shadow: 0 8px 20px rgba(255, 0, 102, 0.25);

  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

  z-index: 1;
}

.rentActive {
  transform: translateX(100%);
}

.dealSwitcher button {
  position: relative;

  z-index: 2;

  border: none;

  background: transparent;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 8px;

  font-size: 16px;

  font-weight: 700;

  color: #777;

  cursor: pointer;

  transition: 0.3s;
}

.dealSwitcher button svg {
  width: 20px;

  height: 20px;

  transition: 0.3s;
}

.dealActive {
  color: white !important;
}

.dealSwitcher button:hover {
  transform: translateY(-1px);
}

.dealSwitcher button:hover svg {
  transform: scale(1.12);
}

/* категории */

.categories {
  display: grid;

  grid-template-columns: repeat(6, 1fr);

  gap: 10px;
}

.categories button {
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  border-radius: 18px;

  border: 1px solid #eee;

  background: white;

  font-size: 14px;

  font-weight: 700;

  cursor: pointer;

  transition: 0.3s;
}

.categories button:hover {
  transform: translateY(-5px);

  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08);
}

.categoryActive {
  background: linear-gradient(135deg, #ff5aa8, #ff0066);

  color: rgb(255, 0, 149);

  border: none !important;

  box-shadow: 0 20px 40px rgba(255, 0, 120, 0.35);
}

/* основные фильтры */

.mainFilters {
  margin-top: 25px;

  display: grid;

  grid-template-columns: 1.4fr 1fr 1.4fr 1fr;

  gap: 12px;
}

/* CUSTOM SELECT */

.custom {
  position: relative;

  width: 100%;
}

.select {
  height: 60px;

  width: 100%;

  padding: 0 18px;

  border-radius: 20px;

  background: linear-gradient(145deg, #ffffff, #fafafa);

  border: 1px solid #ededed;

  display: flex;

  align-items: center;

  justify-content: space-between;

  cursor: pointer;

  transition: 0.35s;
}

.select:hover {
  border-color: #ff9dcc;

  box-shadow: 0 15px 35px rgba(255, 41, 144, 0.12);
}

.select > div {
  display: flex;

  align-items: center;

  gap: 15px;
}

.select svg {
  width: 21px;

  height: 21px;

  color: #ff2990;
}

.select section {
  display: flex;

  flex-direction: column;

  align-items: flex-start;
}

.select small {
  font-size: 11px;

  color: #999;

  font-weight: 600;
}

.select strong {
  font-size: 14px;

  color: #111;

  margin-top: 3px;
}

.rotate {
  transform: rotate(180deg);

  transition: 0.3s;
}

.dropdown {
  position: absolute;

  top: 82px;

  left: 0;

  width: 100%;

  z-index: 100;

  background: white;

  border-radius: 25px;

  padding: 10px;

  box-shadow: 0 25px 70px rgba(0, 0, 0, 0.18);

  max-height: 300px;

  overflow-y: auto;

  animation: dropdown 0.25s ease;
}

.dropdown button {
  width: 100%;

  padding: 15px 18px;

  border: none;

  background: white;

  border-radius: 16px;

  text-align: left;

  font-size: 16px;

  font-weight: 600;

  cursor: pointer;

  transition: 0.25s;
}

.dropdown button:hover {
  background: linear-gradient(135deg, #fff0f7, #ffe1ef);

  color: #ff2990;
}

@keyframes dropdown {
  from {
    opacity: 0;

    transform: translateY(-15px);
  }

  to {
    opacity: 1;

    transform: none;
  }
}

/* цена */

.priceBox {
  height: 60px;

  border-radius: 20px;

  background: white;

  border: 1px solid #ededed;

  display: flex;

  align-items: center;

  padding: 0 18px;

  gap: 10px;

  transition: 0.3s;
}

.priceIcon {
  width: 23px;
  height: 23px;

  min-width: 32px;

  color: #ff2990;

  stroke-width: 2.5;

  filter: drop-shadow(0 5px 12px rgba(255, 41, 144, 0.35));

  transition: 0.3s ease;
}

.priceBox:hover .priceIcon {
  transform: scale(1.15) rotate(-5deg);

  color: #ff0066;
}

.priceBox:hover {
  border-color: #ff9dcc;

  box-shadow: 0 15px 35px rgba(255, 41, 144, 0.12);
}

.priceBox svg {
  color: #ff2990;

  width: 24px;
}

.priceBox span {
  color: #aaa;
}

.priceBox input {
  width: 100%;

  height: 45px;

  border: none;

  outline: none;

  font-size: 15px;

  font-weight: 600;
}

/* все фильтры */

.more {
  margin-top: 20px;

  height: 48px;

  padding: 0 22px;

  border-radius: 18px;

  border: 1px solid #eee;

  background: white;

  display: flex;

  align-items: center;

  gap: 10px;

  font-size: 15px;

  font-weight: 700;

  cursor: pointer;

  transition: 0.3s;
}

.more:hover {
  color: #ff2990;

  border-color: #ff2990;

  transform: translateY(-3px);
}

.extra {
  margin-top: 18px;

  padding: 18px;

  border-radius: 24px;

  background: #fafafa;

  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 12px;

  animation: showExtra 0.35s ease;
}

@keyframes showExtra {
  from {
    opacity: 0;

    transform: translateY(-20px);
  }

  to {
    opacity: 1;

    transform: none;
  }
}

/* нижние кнопки */

.actions {
  display: flex;

  justify-content: center;

  gap: 12px;

  margin-top: 25px;
}

.actions button {
  height: 52px;

  padding: 0 28px;

  border-radius: 18px;

  display: flex;

  align-items: center;

  gap: 10px;

  font-size: 15px;

  font-weight: 700;

  cursor: pointer;

  transition: 0.35s;
}

.searchBtn {
  border: none;

  color: white;

  background: linear-gradient(135deg, #ff5aa8, #ff0066);

  box-shadow: 0 20px 40px rgba(255, 0, 120, 0.35);
}

.searchBtn:hover {
  transform: translateY(-5px);
}

.mapBtn,
.resetBtn {
  background: white;

  border: 1px solid #eee;
}

.mapBtn:hover,
.resetBtn:hover {
  color: #ff2990;

  border-color: #ff2990;

  transform: translateY(-5px);
}

@media (max-width: 1200px) {
  .categories {
    grid-template-columns: repeat(3, 1fr);
  }

  .mainFilters {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .wrapper {
    padding: 0 15px;
  }

  .card {
    padding: 22px;
  }

  .categories {
    grid-template-columns: 1fr 1fr;
  }

  .mainFilters,
  .extra {
    grid-template-columns: 1fr;
  }

  .actions {
    flex-direction: column;
  }

  .switch button {
    padding: 0 15px;
  }
}

.extra {
  display: grid;

  grid-template-columns: repeat(3, 1fr);

  gap: 18px;

  margin-top: 25px;

  animation: show 0.35s ease;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(-15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.priceIcon {
  width: 32px;

  height: 32px;

  color: #ff2990;

  stroke-width: 2.5;

  filter: drop-shadow(0 5px 15px rgba(255, 41, 144, 0.35));
}

.categories button {
  display: flex;

  align-items: center;

  justify-content: center;

  gap: 10px;
}

.categories button svg {
  width: 26px;

  height: 26px;

  color: #ff2990;

  transition: 0.3s;
}

.categoryActive svg {
  color: white;
}

.categories button:hover svg {
  transform: scale(1.15);
}

.bigIcon {
  width: 21px;
  height: 45px;

  min-width: 45px;

  border-radius: 11px;

  display: flex;

  align-items: center;

  justify-content: center;

  background: linear-gradient(135deg, #ffe1f0, #ffd0e6);

  box-shadow: 0 10px 25px rgba(255, 41, 144, 0.2);
}

.bigIcon svg {
  width: 23px;

  height: 23px;

  stroke-width: 2;

  color: #ff2990;
}

.priceBox:hover .bigIcon {
  transform: scale(1.08) rotate(-5deg);

  box-shadow: 0 15px 35px rgba(255, 41, 144, 0.35);
}

.bigIcon {
  transition: 0.3s ease;
}

.specialFilters {
  display: flex;

  gap: 12px;

  margin-top: 18px;
}

/* =====================
   СРОЧНО
===================== */

.specialFilters button:first-child {
  height: 48px;

  padding: 0 25px;

  border-radius: 18px;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 10px;

  border: 1px solid #ffcccc;

  background: white;

  color: #e60000;

  font-size: 15px;

  font-weight: 900;

  cursor: pointer;

  transition: 0.35s;
}

.specialFilters button:first-child svg {
  width: 22px;

  height: 22px;

  color: #ff1a1a;
}

/* активное срочно */

.specialActive {
  background: linear-gradient(135deg, #ff4b4b, #d60000) !important;

  color: white !important;

  border: none !important;

  box-shadow: 0 15px 40px rgba(255, 0, 0, 0.35);

  animation: pulseRed 2s infinite;
}

.specialActive svg {
  color: white !important;
}

@keyframes pulseRed {
  0% {
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.4);
  }

  50% {
    box-shadow: 0 0 35px rgba(255, 0, 0, 0.6);
  }

  100% {
    box-shadow: 0 0 0 rgba(255, 0, 0, 0.4);
  }
}

/* =====================
   VIP
===================== */

.vipActive {
  background: linear-gradient(135deg, #ffe680, #ffb300) !important;

  color: #111 !important;

  border: none !important;

  box-shadow: 0 15px 40px rgba(255, 179, 0, 0.45);
}

.specialFilters button:last-child {
  height: 48px;

  padding: 0 25px;

  border-radius: 18px;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 10px;

  border: 1px solid #ffe08a;

  background: white;

  color: #d99000;

  font-size: 15px;

  font-weight: 900;

  cursor: pointer;

  transition: 0.35s;
}

.specialFilters button:last-child svg {
  width: 22px;

  height: 22px;

  color: #ffb300;
}

.vipActive svg {
  color: #fff !important;

  filter: drop-shadow(0 5px 10px rgba(0, 0, 0, 0.25));
}
