.wrapper {
  display: grid;

  grid-template-columns: repeat(2, 1fr);

  gap: 15px;

  margin-top: 20px;

  padding: 20px;

  background: #fafafa;

  border-radius: 24px;
}

@media (max-width: 700px) {
  .wrapper {
    grid-template-columns: 1fr;
  }
}
