.wrapper {
  width: 100%;
  margin-top: 50px;
}

.card {
  padding: 30px;

  border-radius: 30px;

  background: white;

  border: 1px solid #eee;

  box-shadow: 0 20px 60px rgba(0, 0, 0, 0.08);
}

.searchBtn {
  margin-top: 35px;

  width: 100%;

  height: 60px;

  border: none;

  border-radius: 20px;

  background: linear-gradient(135deg, #ff006f, #ff5fa7);

  color: white;

  font-size: 17px;

  font-weight: 800;

  cursor: pointer;
}

.rentFilter {
  width: 33.333%;
  margin: 15px 0 25px;
  animation: showRent 0.3s ease;
}

@keyframes showRent {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.rentPeriod {
  margin: 20px 0;
  max-width: 455px;
}
