@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans", sans-serif !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong {
  font-synthesis: none;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  font-size: 18px;
}
