.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: 14px;
  margin-top: 16px;
}

.area {
  display: flex;
  align-items: center;
  gap: 10px;

  background: #fff;
  border: 1px solid #e5e7eb;
  border-radius: 16px;

  padding: 0 14px;
  min-height: 58px;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;

  color: #64748b;
  flex-shrink: 0;
}

.area input {
  width: 100%;
  border: none;
  outline: none;

  background: transparent;

  font-size: 14px;
  font-weight: 500;
}

.area span {
  color: #94a3b8;
  font-weight: 600;
}