.wrapper {
  display: flex;

  gap: 15px;

  margin-bottom: 30px;
}

.wrapper button {
  height: 35px;

  padding: 0 35px;

  border-radius: 18px;

  border: 1px solid #eee;

  background: white;

  display: flex;

  align-items: center;

  justify-content: center;

  gap: 10px;

  font-size: 16px;

  font-weight: 800;

  cursor: pointer;

  transition: 0.3s;
}

.wrapper svg {
  width: 20px;
}

.wrapper button:hover {
  border-color: #ff006f;

  color: #ff006f;
}

.active {
  background: #ff006f !important;

  color: white !important;

  border-color: #ff006f !important;

  box-shadow: 0 15px 35px rgba(255, 0, 111, 0.3);
}
